<div style="width: 300px; margin: 0 auto; padding-top: 20px;">
    <h1 style="text-align: center;padding-top: 10px;padding-bottom: 20px;">Registrar</h1>
    <div class="form-floating mb-3">
        <input #user type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Correo electronico</label>
    </div>
    <div class="form-floating">
        <input #pass type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
        <label for="floatingPassword">Contraseña</label>
    </div>
    <div style="text-align: center;padding-top: 20px;">
        <button style="width: 100px;" (click)="userLogin()" type="button" class="btn btn-primary">Atras</button>
        <span style="padding-left:75px ;">

        </span>

        <button style="width: 100px;" (click)="onSubmit(user.value,pass.value)" type="button" class="btn btn-primary">Registrar</button>
    </div>

</div>