<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Token Tradicional</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div>
                <button (click)="logout()" type="button" class="btn btn-outline-danger">Cerrar Sesion</button>
            </div>
        </div>
    </div>
</nav>
<div style="margin: 0 auto; text-align: center;">
    <h1>Bienvenido al Proyecto de Token Tradicional utilizando FireBase</h1>
</div>